#bundles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bundles article {
  width: 40%;
  overflow: clip;
}

.bundle_container img,
.character_container img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.bundle_txt_container {
  background-image: url(../assets/big_leaf.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  position: relative;
  margin-top: -2em;
  margin-right: -2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4em;
  height: 8em;
}

.character_img_container {
  height: 5em;
  background-color: var(--pal1_col1);
  border-radius: var(--image_border_radius);
  padding: 0.5em;
}

#solo_characters {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  justify-content: space-between;
  gap: 1em;
}
