.footer_holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  background-image: url(../assets/base_footer_straight_w14000.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  z-index: 10;
  padding: 4em 22%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.footer_holder article {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.footer_holder p {
  color: var(--pal1_col3);
}

.nav_holder {
  height: 30vw;
  width: 100%;
  background-image: url(../assets/justheader_top_w1400.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: center; */
  position: relative;
  margin-bottom: -80px;
  z-index: 20;
  background-position: bottom center;
}
