:root {
  --pal1_col1: #ff9633;
  --pal1_col2: #ae4202;
  --pal1_col3: #f2ece0;
  --pal1_col4: #96ae0e;
  --pal1_col5: #186a39;
  --pal1_col6: #05061b;
  --pal1_col7: #553232;
  --pal2_col1: #ecf7cd;
  --pal2_col2: #f7b0d8;
  --pal2_col3: #6357df;
  --pal2_col4: #67186b;
  --pal2_col5: #032f0c;
  --pal2_col6: #472948;
  --pal2_col7: #504a8d;
}
