:root {
  /* pallette 1 */
  --pal1_col1: #ff9633;
  --pal1_col2: #ae4202;
  --pal1_col3: #f2ece0;
  --pal1_col4: #96ae0e;
  --pal1_col5: #186a39;
  --pal1_col6: #05061b;
  --pal1_col7: #553232;
  /* palette 2 */
  --pal2_col1: #ecf7cd;
  --pal2_col2: #f7b0d8;
  --pal2_col3: #6357df;
  --pal2_col4: #67186b;
  --pal2_col5: #032f0c;
  --pal2_col6: #472948;
  --pal2_col7: #504a8d;
  /* general element properties */
  --window_border_radius: 30px;
  --image_border_radius: 20px;
  --micro_gap: 1em;
}

* {
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--pal2_col5);
  min-height: 100vh;
  position: relative;
}

main {
  flex-grow: 1;
  gap: 2.5em;
  z-index: 1;
  padding: 2em 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/base_mid_straight_w1400.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.finger-paint-regular {
  color: var(--pal2_col1);
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav {
  background-image: url(../assets/base_top_w1400.png);
  height: 200px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
