@import url("general_style.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--micro_gap);
}

#main_figure {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 45svh;
  overflow: clip;
  border-radius: var(--window_border_radius);
  padding: var(--micro_gap);
  background: var(--pal1_col1);
}

#main_figure img {
  max-width: 30%;
  max-height: 100%;
  object-fit: cover;
  border-radius: var(--image_border_radius);
}

#groups {
  height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
}

.bottomSectionContainer {
  background-color: var(--pal1_col1);
  width: 100%;
  border-radius: var(--window_border_radius);
  display: flex;
  align-items: center;
}

.bottomSectionContainer img {
  max-width: 30%;
  max-height: 100%;
  object-fit: cover;
  border-radius: var(--image_border_radius);
}
